*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

body {
    background-color: rgb(22, 22, 54);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    padding-top: 2vh;
}



/*Homepage Video*/

video{
    position: relative;
    width:100%;     
    height: auto;

    z-index: -1;

    box-shadow: 0 0 1rem rgba(0, 0, 0, .75);
}

/*Navigation Bar*/

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0%;
    
    height: 4rem;
    background-color: rgb(30, 31, 73);

    box-shadow: 0.1rem 0.1rem 0.8rem rgb(0, 0, 0, 0.25);

    padding: 0 5%;

    z-index: 1;
}

nav ul{
    display: flex;
}

.nav-link{
    margin: 30px;

    color: white;
    font-size: 1rem;
    font-weight: 500;

    position: relative;
}

.nav-link::after{
    content:'';

    width: 0%;
    height: 0.25rem;
    margin-bottom: -1vh;

    background-color: rgb(194, 28, 34);

    position: absolute;
    bottom: 0%;
    left: 50%;

    border-radius: 0.5rem;
    transition: all 0.5s ease;

}

.nav-link:hover::after{
    left: 0%;
    width: 100%;
}

.nav-link:active{
    color: rgb(194, 28, 34);;
}

.Logo{
    font-family: 'Lalezar', cursive;
    font-size: 4rem;
    color: whitesmoke;

    text-shadow: 0.125rem 0.125rem rgba(0, 0, 0, .75);

    letter-spacing: 1px;
}

/*Intro*/

.intro{
    width: 100%;
    height: 95%;
}

.text-container{
    position: absolute;
    left: 35%;
    top: 45%;
    transform: translate(-35%, -45%);
}

.text-container p{
    text-shadow: .125rem .125rem rgba(0, 0, 0, .75);

    line-height: 0;
    margin: 2.15rem 0 2rem;
}

.text-container p:nth-child(1){
    font-weight: bold;
    font-size: 1.25rem;
    color: whitesmoke;

    letter-spacing: 0.075rem;
}

.text-container p:nth-child(2){
    font-weight: bold;
    font-size: 4rem;

    letter-spacing: 1px;
    color: white;

    line-height: 4rem;
}

/*Scroll Down Arrows*/

.arrows{
    position: absolute;

    top: 85%;
    left: 50%;

    transform: translate(-85%, -50%);
}

.arrows span {
    display: block;

    width: 1.5rem;
    height: 1.5rem;

    margin: -0.8rem;

    border-bottom: 0.25rem solid white;
    border-right: 0.25rem solid white;

    transform: rotate(45deg);

    animation: animate 2s infinite;
}

.arrows span:nth-child(2){
    animation-delay: -0.2s;
   
}

.arrows span:nth-child(3){
    animation-delay: 0.4s;
}

@keyframes animate{
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-1.25rem, -1.25rem);
    }

    50%{
        opacity: 1;
    }

    100%{
        opacity: 0;
        transform: rotate(45deg) translate(1.25rem, 1.25rem);
    }
}

.arrows:hover{
    cursor: pointer;
}


/*Vision Box*/

.vision-container{
    width: 85%;
    height: 25rem;

    background-color: rgb(15, 15, 36);

    border-radius: 1.25rem;

    box-shadow: 0.125rem 0.125rem 0.8rem rgba(0, 0, 0, 0.75);

    display: flex;
    margin: -10% auto 1.15rem auto;

    justify-content: space-evenly;

    align-items: center;
}

.vision-container img{
    height: 10rem;

    border-radius: 1rem;
}

.vision-text{
    width: 35rem;
    color: whitesmoke;
    line-height: 1.5rem;
}

.vision-text p:nth-child(1){
    color: white;
    font-weight: bold;
    font-size: 1.75rem;
    line-height: 0;

    padding-bottom: 5vh;

}

.vision-text p:nth-child(2), .vision-text p:nth-child(3), .vision-text p:nth-child(4){
    font-size: 1rem;
    font-weight: 300;

    padding-bottom: 1vh;
}

/*Button(s)*/

button {
    position: relative;
    top: 0;
    left: 35%;

    margin-top: 2vh;

    transform: translate(-0, -35);
   }
   
   button {
    background: none;
    color: #ccc;
    width: 10rem;
    height: 2.5rem;
    border: 0.0625rem solid rgb(194, 28, 34);
    font-size: 0.75rem;
    border-radius: 0.25rem;
    transition: .6s;
    overflow: hidden;
   }
   
   button:focus {
    outline: none;
   }
   
   button:before {
       content: '';
       display: block;
       position: absolute;
       background: rgba(255,255,255,.5);
       width: 4rem;
       height: 100%;
       left: 0;
       top: 0;
       opacity: .5;
       filter: blur(30px);
       transform: translateX(-130px) skewX(-15deg);
   }
   
   button:after {
       content: '';
       display: block;
       position: absolute;
       background: rgba(255,255,255,.2);
       width: 30px;
       height: 100%;
       left: 30px;
       top: 0;
       opacity: 0;
       filter: blur(30px);
       transform: translateX(-100px) scaleX(-15deg);
   }
   
   button:hover {
      background: rgb(194, 28, 34);
      cursor: pointer;
   }
   
   button:hover:before {
    transform: translateX(300px) skewX(-15deg);
    opacity: .6;
    transition: .7s;
   }
   
   button:hover:after {
    transform: translateX(300px) skewX(-15deg);
    opacity: 1;
    transition: .7s;
   }

   /*Homepage Services Section*/

   .home-services{
       height: 40rem;
       padding: 5% 10% 0px 10%;

       text-align: center;
   }

   .home-services-text h2{
       font-weight: bold;
       color: whitesmoke;
       font-size: 2rem;

       line-height: 5rem;
   }
   
   .home-services-text p:nth-child(2){
       font-weight: 400;
       font-size: 1.25rem;

       color: white;

       line-height: 2.5rem;
   }

   .home-services-text p:nth-child(3){
       font-weight: 400;
       font-size: 1.25rem;

       color: whitesmoke;

       line-height: 2.5rem;

   }

   .home-services-text p:nth-child(4){
       font-weight: 500;
       font-size: 1.75rem;

       color: rgb(228, 34, 41);

       text-shadow: 0.05rem .05rem rgba(102, 80, 80, 0.8);

       padding: 5vh;
       line-height: 2.5rem;
   }

   /*Homepage Services Section Boxes/Blocks*/
  .box-container{
       display: flex;

       justify-content: space-between;

       padding: 0 15vh 0 15vh;
   }

   .box-1, .box-2, .box-3{
       height: 15rem;
       width: 15rem;

       background-repeat: no-repeat;
       background-size: 5rem 5rem;
       background-color: rgb(255, 255, 255);
       background-position:center;

       box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 1);

       border-radius: 10rem;

       transition: all 0.75s ease;

       margin-left: 5vh;
   }

   .box-1{
       background-image: url(./Media/IC-TRANS.png);
   }

   .box-2{
       background-image: url(./Media/IC-FAB.png);
   }

   .box-3{
       background-image: url(./Media/IC-TECH.png);
   }

   .box-1 p, .box-2 p, .box-3 p {
       text-align: center;
       line-height: 15rem;
       font-size: 1.75rem;
       font-weight: bold;

       color: whitesmoke;

       opacity: 0;
   }

   .box-1:hover, .box-2:hover, .box-3:hover{
    background-color: rgb(15,15,36);
   }

   .box-1 p:hover, .box-2 p:hover, .box-3 p:hover{
       opacity: 1;
   }

   .box-1:active, .box-2:active, .box-3:active{
       scale: 1.1;
   }

   .contact-us{
    height: 50rem;

    background-image: url(./Media/IMG-1-Pat-Whelen.jpg);
    background-position: cover;
   }

